#banner{
    background-color: rgb(1, 184, 1);
    color: white;
    padding: 2vh;
    word-wrap: break-word;

    position: fixed;
    bottom: 10px;
    left:10px;

    font-family: lato;
    font-weight: 600;
    font-size: 1.3vw;

    z-index: 2000;

    box-shadow: 0 0 11px greenyellow;

    border-radius: 5px;

    transition: all 0.2;
}

#banner:hover{
    box-shadow: 0 0 20px greenyellow;
}
