
/*
-------------------------
styling the main view 
-------------------------
*/
.container{
    padding: 50px;
    display: grid;
    grid-template-columns: 18vw 18vw 18vw;
    grid-template-rows: auto;
    gap: 4vw;
}

/*
-------------------------
-------------------------
-------------------------
*/


/*
-------------------------
styling the cards 
-------------------------
*/
.item{
    box-shadow: 0 0 5px rgba(33,33,33,.2);
    transition: box-shadow .3s;
    border-radius: 5px;
}

.item:hover{
    box-shadow: 0 0 11px rgba(33,33,33,.2);
}

.item h3{
    grid-row: 2/3;
    font-style: 'Lato';
    font-weight: 400; 
    font-size: 1.6vw;
    padding: 1vw;
    word-wrap: break-word;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    max-height: 50vh;
  }

.des_field_comp{
   display: grid;
   grid-template-rows: 3fr 0.5fr 0.5fr;
}

.item_image{
    padding: 1vw;
    grid-row: 1/2;
}
/*
-------------------------
button bar
-------------------------
*/
.button_bar{
    padding: 1vw;
}
.add_button{
    float: right;
}

.Details{
    float: left;
}

.Details:hover:enabled{
    color: rgb(255, 255, 255);
    background-color:blue;
    box-shadow: 0 0 11px rgb(105, 105, 255);
}

button{
    margin-bottom: 1vw;
    margin-right: 1vh;
    white-space: normal;
    border:0px;
    font-family: lato;
    font-weight: 300;
    font-style: italic;
    font-size: 1vw;
    height: 50px;
    padding: 10px 5px 10px;
    color: black;
    transition: 0.3s;
}

button:hover:enabled{
    color: rgb(255, 255, 255);
    background-color:goldenrod;
    box-shadow: 0 0 11px goldenrod;
}

button:active:enabled{
    color: white;
    background-color:  green;
    box-shadow: 0 0 11px greenyellow;
}

button:disabled {
    background: rgb(0, 202, 0);
    box-shadow: 0 0 15px greenyellow;
    color: white;
}
/*
-------------------------
-------------------------
-------------------------
*/

#description{
    margin-left:2vw;
    font-family: lato;
    font-weight: 200;
    font-size: 5vh;
    font-style: italic;
}

